<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>OAuth</title>
    <meta
      name="google-signin-client_id"
      content="46497074365-9v4atahkrslahqnsmmsc2moi8p5sip7j.apps.googleusercontent.com"
    />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <nav>
      <ul>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
      </ul>
    </nav>
    <header>
      <h1>Login using...</h1>
    </header>

    <a class="google-btn" href="/auth/google">Google+</a>
    <a href="#" onclick="signOut();">Sign out</a>
    <script>
        var id_token ;
      function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Do not send to your backend! Use an ID token instead.
         id_token = googleUser.getAuthResponse().id_token;
        console.log("id_token: " + id_token);
        console.log("Name: " + profile.getName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail()); // This is null if the 'email' scope is not present.
      
  // console.log(profile)
      }
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "http://localhost:3000/test");
      xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      xhr.onload = function () {
        console.log("Signed in as: " + xhr.responseText);
      };
      xhr.send("idtoken=" + id_token);
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log("User signed out.");
        });
      }

     
    </script>
    <br> <br> <br> <br> <br> <br>
    <fb:login-button 
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button>
    
  </body>
</html>
